### default options
__DEFAULT_DEBUG=false
__DEFAULT_QUIET=true
__DEFAULT_LOGGING=true
__DEFAULT_TMPDIR=/var/tmp/backup

### rclone configuration, the config apply to all
__DEFAULT_RCLONE_REMOTE_BACKUP=
__DEFAULT_RCLONE_EXTRA_OPTIONS=

__DEFAULT_RUN_BACKUP=false

__DEFAULT_BACKUP_MODE=${__BACKUP_MODE_COMPLETE:-complete}

#__DEFAULT_KEEP_LAST_INCREMENT=
__DEFAULT_KEEP_LAST_DAILY=0      # keep last daily
__DEFAULT_KEEP_LAST_WEEKLY=0     # keep last day of the week
__DEFAULT_KEEP_LAST_MONTHLY=0    # keep last day of the month
__DEFAULT_KEEP_LAST_ANNUALLY=0   # keep last day of the year

__DEFAULT_BACKUP_DIR=

# Send email
EMAIL= #true|false
EMAILADDR=
EMAILSUBJECT="Backup host01"

# Slack notifications
# Defaults keys, title and msg ({"title": "Backups success", "msg": "backups finish at ..."})
SLACK= #true|false
CHANNEL=

# VBox values
TEMPDIR=/local/backups
VBOX_VM=(vbox01 vbox02)
VBOX_PATH="/local/vbox/VirtualBox\ VMs"
WEEK_DAY=6
