### default options
__DEFAULT_DEBUG=false
__DEFAULT_QUIET=true
__DEFAULT_LOGGING=true
__DEFAULT_TMPDIR=/var/tmp/backup

### rclone configuration, the config apply to all
__DEFAULT_RCLONE_REMOTE_BACKUP=
__DEFAULT_RCLONE_EXTRA_OPTIONS=

__DEFAULT_RUN_BACKUP=false

__DEFAULT_BACKUP_MODE=${__BACKUP_MODE_COMPLETE:-complete}

#__DEFAULT_KEEP_LAST_INCREMENT=
__DEFAULT_KEEP_LAST_DAILY=0      # keep last daily
__DEFAULT_KEEP_LAST_WEEKLY=0     # keep last day of the week
__DEFAULT_KEEP_LAST_MONTHLY=0    # keep last day of the month
__DEFAULT_KEEP_LAST_ANNUALLY=0   # keep last day of the year

__DEFAULT_BACKUP_DIR=



### run backups using ./scripts/mysql
# MYSQL_RUN_BACKUP=true|false

# MYSQL_BACKUP_MODE=complete|increment
# MYSQL_KEEP_LAST_INCREMENT=15

# MYSQL_KEEP_LAST_DAILY=15
# MYSQL_KEEP_LAST_WEEKLY=4
# MYSQL_KEEP_LAST_MONTHLY=4
# MYSQL_KEEP_LAST_ANNUALLY=2

# MYSQL_REMOTE_BACKUP=
# MYSQL_BACKUP_DIR=
# MYSQL_TMPDIR=/var/tmp/backup

# MYSQL_HOST=
# MYSQL_USER=
# MYSQL_PASS=
# MYSQL_PORT=
# MYSQL_DATABASES_IGNORE=(information_schema performance_schema mysql)
# MYSQL_DATABASES=

### run backups using ./scripts/postgresql
# POSTGRESQL_RUN_BACKUP=true|false

# POSTGRESQL_BACKUP_MODE=complete|increment
# POSTGRESQL_KEEP_LAST_INCREMENT=15

# POSTGRESQL_KEEP_LAST_DAILY=15
# POSTGRESQL_KEEP_LAST_WEEKLY=4
# POSTGRESQL_KEEP_LAST_MONTHLY=4
# POSTGRESQL_KEEP_LAST_ANNUALLY=2

# POSTGRESQL_REMOTE_BACKUP=
# POSTGRESQL_BACKUP_DIR=
# POSTGRESQL_TMPDIR=/var/tmp/backup

# POSTGRESQL_HOST=
# POSTGRESQL_USER=
# POSTGRESQL_PASS=
# POSTGRESQL_PORT=
# POSTGRESQL_DATABASES_IGNORE=(postgres template0 template1)
# POSTGRESQL_DATABASES=

### run backups using ./scripts/sync
# SYNC_RUN_BACKUP=true|false

# SYNC_BACKUP_MODE=complete|increment
# SYNC_KEEP_LAST_INCREMENT=15

# SYNC_KEEP_LAST_DAILY=15
# SYNC_KEEP_LAST_WEEKLY=4
# SYNC_KEEP_LAST_MONTHLY=4
# SYNC_KEEP_LAST_ANNUALLY=2

# SYNC_REMOVE_BACKUP=
# SYNC_BACKUP_DIR=
# SYNC_TMPDIR=/var/tmp/backup

### run backups using ./scripts/vbox
# VBOX_RUN_BACKUP=true|false

# VBOX_BACKUP_MODE=complete|increment
# VBOX_KEEP_LAST_INCREMENT=15

# VBOX_KEEP_LAST_DAILY=15
# VBOX_KEEP_LAST_WEEKLY=4
# VBOX_KEEP_LAST_MONTHLY=4
# VBOX_KEEP_LAST_ANNUALLY=2

# VBOX_REMOVE_BACKUP=
# VBOX_BACKUP_DIR=
# VBOX_TMPDIR=/var/tmp/backup

### run backups using ./scripts/proxmox
# PROXMOX_RUN_BACKUP=true|false

# PROXMOX_BACKUP_MODE=complete|increment
# PROXMOX_KEEP_LAST_INCREMENT=15

# PROXMOX_KEEP_LAST_DAILY=15
# PROXMOX_KEEP_LAST_WEEKLY=4
# PROXMOX_KEEP_LAST_MONTHLY=4
# PROXMOX_KEEP_LAST_ANNUALLY=2

# PROXMOX_REMOVE_BACKUP=
# PROXMOX_BACKUP_DIR=
# PROXMOX_TMPDIR=/var/tmp/backup

# set to true for running script under ./scripts directory
#
FILES_RUN_BACKUP=false
SYNC_RUN_BACKUP=false
MYSQL_RUN_BACKUP=false
POSTGRESQL_RUN_BACKUP=false
VBOX_RUN_BACKUP=false
PROXMOX_RUN_BACKUP=false

## backups files options
#_CONFIG_RCLONE=
#RCLONE_EXTRA_OPTIONS=
#RCLONE_BACKUP_REMOTE=   #<rclone-config>

#BACKUP_DIR=(dir1 dir2)
#BACKUP_FILES=()



# Send email
EMAIL= #true|false
EMAILADDR=
EMAILSUBJECT="Backup host01"

# Slack notifications
# Defaults keys, title and msg ({"title": "Backups success", "msg": "backups finish at ..."})
SLACK= #true|false
CHANNEL=

# VBox values
TEMPDIR=/local/backups
VBOX_VM=(vbox01 vbox02)
VBOX_PATH="/local/vbox/VirtualBox\ VMs"
WEEK_DAY=6
