### default options
__DEFAULT_DEBUG=false
__DEFAULT_LOGGING=true
__DEFAULT_TMPDIR=/var/tmp/backup

### rclone configuration, the config apply to all
__DEFAULT_RCLONE_REMOTE_BACKUP=
__DEFAULT_RCLONE_EXTRA_OPTIONS=

__DEFAULT_RUN_BACKUP=false

# daily run every day
# weekly run first day of week, start in monday
# monthly run first day of month
# annually run first day of year
__DEFAULT_RUN_BACKUP_IN=daily
__DEFAULT_RUN_BACKUP_IN_DAY=
#   if __DEFAULT_RUN_BACKUP_IN=daily __DEFAULT_RUN_BACKUP_IN_DAY is ignore
#   if __DEFAULT_RUN_BACKUP_IN=weekly __DEFAULT_RUN_BACKUP_IN_DAY must be set with values 1-7
#   if __DEFAULT_RUN_BACKUP_IN=monthly __DEFAULT_RUN_BACKUP_IN_DAY must be set with values 01-31
#   if __DEFAULT_RUN_BACKUP_IN=annually __DEFAULT_RUN_BACKUP_IN_DAY must be set with values 001-365
__DEFAULT_BACKUP_MODE=${__BACKUP_MODE_COMPLETE:-complete}

__DEFAULT_KEEP_LAST_INCREMENT=
__DEFAULT_KEEP_LAST_DAILY=0      # keep last daily
__DEFAULT_KEEP_LAST_WEEKLY=0     # keep last day of the week
__DEFAULT_KEEP_LAST_MONTHLY=0    # keep last day of the month
__DEFAULT_KEEP_LAST_ANNUALLY=0   # keep last day of the year

__DEFAULT_BACKUP_DIRECTORIES=
__DEFAULT_BACKUP_FILES=

# default notifications
__DEFAULT_NOTIFICATIONS_EMAIL=false
__DEFAULT_NOTIFICATIONS_SLACK=false

# VBox values
TEMPDIR=/local/backups
VBOX_VM=(vbox01 vbox02)
VBOX_PATH="/local/vbox/VirtualBox\ VMs"
WEEK_DAY=6
